In [1]:
ls

NewMetrics.ipynb  README.md         practice2.ipynb
ParkFactor.ipynb  Setup.ipynb

In [2]:
cd ../sabermetrics

/Users/namshik/Documents/py/baseball_lab/src/sabermetrics


Other park correctors in baseball-reference considers the correction of the initial factor 

Initial factor of a park is computed by (Scored RUNs of home team at home per home game number + Allowed RUNs of home team at home per home game number )/ (SR of HT at away per AGN + AR of HT at away per AGN ). In other words, it presents how easy to make and allow runs at home.

The rough park factor can be calculated by (initial factor -1)/2 + 1. For example, if initial factor is 1.2, the rough park factor not considering small corrections is 1.1.

I recommend you to read the [this link](https://www.baseball-reference.com/about/parkadjust.shtml) before further discussion. The above link introduce how to compute the park factor for baseball reference. 

I especially focused on the step 3, OPC (other park corrector).

"Make corrections for the fact that the other road parks' total difference from the league average is offset by the park rating of the club that is being rated"

BTW, it assumes the initial factors of the other parks are all identical, or have the same number of games with N-1 teams (N=30).

More details with formula will be presented at [my personal blog](http://physhik.com/opc/).

However, it's slighty off because a mlb team have more games in the same division. This was already pointed out in other posts such as [this](https://www.reddit.com/r/Sabermetrics/comments/4kjlw9/are_park_factors_real/) 

I calculated the more precise OPC x Initial factor from the number of all the games of all the teams by web crawling mlb schedule.

I also updated for baseball-reference 'Pitching/batting park factor(PPF/BPF)' via 'Team pitching/batting rating(TPR/TBR)'. The formula to this also seems to have room to be improved to me, and still on progressing. 

The park factor in baseball reference and fangraphs are scaled separatedly for NL/AL. I did not split the league, and DH/non-DH effect was not considered yet. Thus, the resultant park factor I calucuated overestimates AL yet. I will modify this soon.

In [3]:
from parkfactor import *

Now we need the records of GP (games played), W at home and away for each team and park. 


You need to run gamestadium function, but it takes much time. If you are interested in 2014 ~ 2018, I saved the dictionary in /downloads directory, and you can load the data.

In [0]:
# Use the saved data 

import json 
year = 2018

with open('../../baseball/teamd'+str(year)+'.json') as json_file:
    teamd = json.load(json_file)

In [0]:
with open('teamd2018.json', 'w') as outfile:
    json.dump(teamd, outfile)

In [ ]:
def gamestadium1(year, teaml, teamd):
  """
  Make a dictionary data structure has team names keys and game numbers played at each parks as home/away.
  """
  url = "https://www.espn.com/mlb/team/schedule/_/name/{}/season/{}/seasontype/2/half/{}"
    
  for t in teaml: 

      for i in [2,1]:
        url_half = url.format(t,year, i)
        s=requests.get(url_half)
        soup=BeautifulSoup(s.content,'lxml')
        table = soup.find_all('tr')
        data = []
        for ta in table:
          cols = ta.find_all('td')

          cols = [ele.text.strip() for ele in cols]
          try:
            teamname = ta.find('a').get('href')
            full = {('mets',' Mets'),( 'yankees', ' Yankees'), ('white', ' White Sox'),('cubs', ' Cubs'), ('angels', ' Angels'), ('dodgers', ' Dodgers')}
            for i, j in full:
              if i in teamname:
                cols[1] += j
          except:
            pass
          
          data.append([ele for ele in cols[1:]])
    
        if data !=[] :
          dp = pd.DataFrame(data[1:])
          dp.columns =  data[0]
          
        
          
          # remove postpone date using None
          dp= dp.iloc[:,0:5]
          dp = dp.dropna()
          print(dp.columns)
          for i in range(len(dp)):
            team  = dp.Opponent.values[i]
            result = dp.Result.values[i]
            result = result.split(' ')[0]
            WL = result[0]
            #print(WL)
            scores = result[1:].split('-')
            
            def addscore(ha, b):
              
              try:
                teamd[t][ha][team+' SR'] += int(scores[b])
                teamd[t][ha][team+' AR'] += int(scores[(b+1)%2])
              except:
                teamd[t][ha][team+' SR'] = int(scores[b])
                teamd[t][ha][team+' AR'] = int(scores[(b+1)%2])
                       
            if team[0] == 'v' and (WL in 'WL'):
              team = team[3:]        
              try:
                teamd[t]['Home'][team+' GP'] +=1
              except:            
                teamd[t]['Home'][team+' GP'] =1

               
              if WL == 'W':
                addscore('Home', 0)
              else:
                addscore('Home',1)
                  
            elif team[0] =='@' and (WL in 'WL'):
              team = team[2:]
              try:
                teamd[t]['Away'][team+' GP'] +=1
              except:            
                teamd[t]['Away'][team+' GP'] =1
              if WL == 'W':  
                addscore('Away', 0)
              else:
                addscore('Away',1)

  teaml=[]
  for t in teamd.keys():
    if teamd[t] == {'Away': {}, 'Home': {}}:
      teaml.append(t) 
  
  if teaml == []:
    return teamd
  print(len(teaml), " teams are on processing...")
  
  gamestadium(year,teaml, teamd)      

  return teamd

def solver(year, IF, teamd):
  "Find opc x runs by solving linear equations, and return the joined dataframe."
  
  year = str(year)  
  tmap = {'ari': 'Arizona',
 'atl': 'Atlanta',
 'bal': 'Baltimore',
 'bos': 'Boston',
 'chc': 'Chicago Cubs',
 'chw': 'Chicago White Sox',
 'cin': 'Cincinnati',
 'cle': 'Cleveland',
 'col': 'Colorado',
 'det': 'Detroit',
 'hou': 'Houston',
 'kc': 'Kansas City',
 'laa': 'Los Angeles Angels',
 'lad': 'Los Angeles Dodgers',
 'mia': 'Miami',
 'mil': 'Milwaukee',
 'min': 'Minnesota',
 'nym': 'New York Mets',
 'nyy': 'New York Yankees',
 'oak': 'Oakland',
 'phi': 'Philadelphia',
 'pit': 'Pittsburgh',
 'sd': 'San Diego',
 'sea': 'Seattle',
 'sf': 'San Francisco',
 'stl': 'St. Louis',
 'tb': 'Tampa Bay',
 'tex': 'Texas',
 'tor': 'Toronto',
 'wsh': 'Washington'}
  
  teaml = list(tmap.keys())
  
  pol = [[0 for x in range(30)] for y in range(30)]
  
  poltr = [[0 for x in range(60)] for y in range(60)]

  for i in range(30):
    s=0
    h = teamd[teaml[i]]['Home']
    a = teamd[teaml[i]]['Away']

    for j in range(30):
      if tmap[teaml[j]]+' GP' in h.keys():
        s += h[tmap[teaml[j]]+ ' GP']    

      if tmap[teaml[j]]+' GP' in a.keys():
        pol[i][j] = a[tmap[teaml[j]] + ' GP']
    pol[i][i] =s    

  for i in range(30):
    for j in range(30):
      if i!=j:
        pol[i][j] *= -float(IF.loc[tmap[teaml[i]]][year])
  
  
  #for i in range(30):
   # for j in range(30):
    #  poltr[i][j]=IF.loc[tmap[teaml[i]]]['SF']*
  
  
  print("The determinant of 30x30 matrice must be near zero, ", np.linalg.det(pol)/(80**30))
  
  x= [0]*30
  xl = []
  for i in range(30):
    pol2=pol[:][:]


    pol2[29-i] = [1]*30
    A= np.array(pol2)
    b= [0]*30
    b[29-i] = 30
    b = np.array(b)
    x += np.linalg.solve(A,b)
    xl.append(np.linalg.solve(A,b))

  SF = x/30 / IF[year+'IPC']


  print("Ideally sum of the factors is 30, and here is ",sum(SF))
  d = {'mOPCxRUN/IPC':[]}
  for i in range(30):
    d['mOPCxRUN/IPC'].append(SF[i])  
  dp = pd.DataFrame(d)
  dp.index = IF.index
  
  return IF.join(dp)

In [30]:
teamd = gamestadium1(year, teaml, teamd)

                  0       1      2               3               4  \
0          Opponent  Result    W-L             WIN            LOSS
1       @ Milwaukee    W6-4  54-43       Hill  3-4   Williams  0-3
2       @ Milwaukee    L4-2  54-44     Burnes  1-0    Kershaw  3-5
3       @ Milwaukee   W11-2  55-44       Wood  6-5      Suter  8-7
4    @ Philadelphia    W7-6  56-44  Alexander  2-0  Dominguez  1-3
..              ...     ...    ...             ...             ...
63        @ Arizona    L7-2  88-71  Greinke  15-11  Stripling  8-6
64  @ San Francisco    W3-1  89-71        Ryu  7-3  Bumgarner  6-7
65  @ San Francisco   W10-6  90-71       Wood  9-7   Melancon  1-4
66  @ San Francisco   W15-0  91-71      Hill  11-5    Suarez  7-13
67      vs Colorado    W5-2  92-71    Buehler  8-5  Marquez  14-11

              5       6
0          SAVE     ATT
1    Jansen  28  36,812
2    Knebel  12  36,242
3   Ferguson  2  38,249
4    Jansen  29  33,753
..          ...     ...
63               31,149
64   Jansen  38  41,167
65               41,768
66               41,280
67               47,816

[68 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Milwaukee', 'W6-4', '54-43', 'Hill  3-4', 'Williams  0-3', 'Jansen  28', '36,812'] ['@ Milwaukee', 'L4-2', '54-44', 'Burnes  1-0', 'Kershaw  3-5', 'Knebel  12', '36,242']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                        0          1      2               3               4  \
0                Opponent     Result    W-L             WIN            LOSS
1        vs San Francisco       L1-0    0-1      Blach  1-0    Kershaw  0-1
2        vs San Francisco       L1-0    0-2     Watson  1-0     Jansen  0-1
3        vs San Francisco       W5-0    1-2      Maeda  1-0    Holland  0-1
4        vs San Francisco       W9-0    2-2       Hill  1-0   Stratton  0-1
..                    ...        ...    ...             ...             ...
95            @ San Diego       W4-2  50-42      Maeda  6-5   Lucchesi  4-5
96            @ San Diego       W3-2  51-42  Stripling  8-2       Ross  5-8
97  vs Los Angeles Angels       W3-2  52-42   Ferguson  2-1  Bedrosian  3-2
98  vs Los Angeles Angels  L5-4 F/10  52-43    Alvarez  4-3     Jansen  0-3
99  vs Los Angeles Angels       W5-3  53-43      Maeda  7-5       Cole  0-2

                5       6
0            SAVE     ATT
1   Strickland  1  53,595
2   Strickland  2  53,478
3                  45,938
4                  41,866
..            ...     ...
95     Jansen  25  26,448
96     Jansen  26  29,595
97   Alexander  1  53,368
98                 53,797
99     Jansen  27  47,871

[100 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['vs San Francisco', 'L1-0', '0-1', 'Blach  1-0', 'Kershaw  0-1', 'Strickland  1', '53,595'] ['vs San Francisco', 'L1-0', '0-2', 'Watson  1-0', 'Jansen  0-1', 'Strickland  2', '53,478']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                        0          1      2                3               4  \
0                Opponent     Result    W-L              WIN            LOSS
1               @ Arizona     W11-10  52-45       Oberg  5-0    Bradley  2-2
2               @ Arizona       W6-5  53-45       Oberg  6-0     Hirano  2-2
3               @ Arizona       L6-1  53-46    Greinke  11-5  Senzatela  3-3
4              vs Houston  L8-2 F/10  53-47      Rondon  2-2      Davis  0-3
..                    ...        ...    ...              ...             ...
63        vs Philadelphia       W5-3  89-70       Oberg  8-1  Arrieta  10-11
64          vs Washington       W5-2  90-70   Freeland  17-7       Ross  0-2
65          vs Washington      L12-2  90-71  Strasburg  10-7      Gray  12-9
66          vs Washington      W12-0  91-71    Anderson  7-9      Fedde  2-4
67  @ Los Angeles Dodgers       L5-2  91-72     Buehler  8-5  Marquez  14-11

              5       6
0          SAVE     ATT
1   Ottavino  3  29,546
2     Davis  28  43,340
3                32,985
4                43,184
..          ...     ...
63    Davis  42  36,448
64    Davis  43  48,089
65               47,781
66               47,833
67               47,816

[68 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Arizona', 'W11-10', '52-45', 'Oberg  5-0', 'Bradley  2-2', 'Ottavino  3', '29,546'] ['@ Arizona', 'W6-5', '53-45', 'Oberg  6-0', 'Hirano  2-2', 'Davis  28', '43,340']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
              0       1      2              3               4             5  \
0      Opponent  Result    W-L            WIN            LOSS          SAVE
1     @ Arizona    L8-2    0-1    Corbin  1-0       Gray  0-1
2     @ Arizona    L9-8    0-2       Ray  1-0  Senzatela  0-1  Boxberger  1
3     @ Arizona    W2-1    1-2      Shaw  1-0      Salas  0-1      Davis  1
4   @ San Diego    W7-4    2-2    Bettis  1-0   Mitchell  0-1      Davis  2
..          ...     ...    ...            ...             ...           ...
92   vs Arizona   W19-2  47-45   Marquez  8-8     Miller  0-4
93   vs Arizona    W5-1  48-45     Oberg  3-0        Ray  3-2
94   vs Seattle   W10-7  49-45  Musgrave  1-3    Bergman  0-1     Davis  26
95   vs Seattle    W4-1  50-45      Gray  8-7    LeBlanc  5-1     Davis  27
96   vs Seattle    W4-3  51-45     Oberg  4-0    Vincent  3-2

         6
0      ATT
1   48,703
2   23,937
3   33,346
4   16,899
..     ...
92  33,919
93  41,410
94  38,126
95  47,789
96  35,630

[97 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Arizona', 'L8-2', '0-1', 'Corbin  1-0', 'Gray  0-1', '', '48,703'] ['@ Arizona', 'L9-8', '0-2', 'Ray  1-0', 'Senzatela  0-1', 'Boxberger  1', '23,937']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                         0          1      2               3               4  \
0                 Opponent     Result    W-L             WIN            LOSS
1                @ Oakland       W5-1  51-48  Rodriguez  5-1    Jackson  1-2
2                @ Oakland  L4-3 F/11  51-49      Petit  5-2      Smith  0-1
3                @ Oakland  L6-5 F/10  51-50    Familia  1-0      Blach  6-6
4                @ Seattle       W4-3  52-50     Watson  3-3       Diaz  0-3
..                     ...        ...    ...             ...             ...
60            vs San Diego  W5-4 F/12  73-85   Melancon  1-3       Wick  0-1
61            vs San Diego       L3-2  73-86       Diaz  1-0      Kelly  0-3
62  vs Los Angeles Dodgers       L3-1  73-87        Ryu  7-3  Bumgarner  6-7
63  vs Los Angeles Dodgers      L10-6  73-88       Wood  9-7   Melancon  1-4
64  vs Los Angeles Dodgers      L15-0  73-89      Hill  11-5    Suarez  7-13

             5       6
0         SAVE     ATT
1               45,606
2               56,310
3               44,374
4     Smith  4  40,276
..         ...     ...
60              36,063
61   Yates  12  36,044
62  Jansen  38  41,167
63              41,768
64              41,280

[65 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Oakland', 'W5-1', '51-48', 'Rodriguez  5-1', 'Jackson  1-2', '', '45,606'] ['@ Oakland', 'L4-3 F/11', '51-49', 'Petit  5-2', 'Smith  0-1', '', '56,310']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                        0          1      2               3              4  \
0                Opponent     Result    W-L             WIN           LOSS
1   @ Los Angeles Dodgers       W1-0    1-0      Blach  1-0   Kershaw  0-1
2   @ Los Angeles Dodgers       W1-0    2-0     Watson  1-0    Jansen  0-1
3   @ Los Angeles Dodgers       L5-0    2-1      Maeda  1-0   Holland  0-1
4   @ Los Angeles Dodgers       L9-0    2-2       Hill  1-0  Stratton  0-1
..                    ...        ...    ...             ...            ...
95        vs Chicago Cubs       L2-0  48-46   Quintana  8-6   Holland  5-8
96        vs Chicago Cubs  W5-4 F/13  49-46  Rodriguez  4-1   Norwood  0-1
97             vs Oakland       W7-1  50-46  Bumgarner  3-3   Jackson  1-1
98             vs Oakland       L4-3  50-47      Petit  4-2    Watson  2-3
99             vs Oakland       L6-2  50-48     Manaea  9-6    Suarez  3-6

                5       6
0            SAVE     ATT
1   Strickland  1  53,595
2   Strickland  2  53,478
3                  45,938
4                  41,866
..            ...     ...
95      Cishek  3  39,113
96                 41,099
97                 41,751
98    Treinen  24  41,970
99                 42,098

[100 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Los Angeles Dodgers', 'W1-0', '1-0', 'Blach  1-0', 'Kershaw  0-1', 'Strickland  1', '53,595'] ['@ Los Angeles Dodgers', 'W1-0', '2-0', 'Watson  1-0', 'Jansen  0-1', 'Strickland  2', '53,478']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')

                         0          1      2               3               4  \
0                 Opponent     Result    W-L             WIN            LOSS
1              vs Colorado     L11-10  53-45      Oberg  5-0    Bradley  2-2
2              vs Colorado       L6-5  53-46      Oberg  6-0     Hirano  2-2
3              vs Colorado       W6-1  54-46   Greinke  11-5  Senzatela  3-3
4           @ Chicago Cubs       W7-1  55-46     Corbin  7-4    Farrell  3-4
..                     ...        ...    ...             ...             ...
61  vs Los Angeles Dodgers       W4-3  80-78  Boxberger  3-7     Maeda  8-10
62  vs Los Angeles Dodgers       W7-2  81-78  Greinke  15-11  Stripling  8-6
63             @ San Diego  L3-2 F/15  81-79     Brewer  1-0   Andriese  0-3
64             @ San Diego       W5-4  82-79   Godley  15-11        Nix  2-5
65             @ San Diego  L4-3 F/10  82-80   Castillo  3-3    Barrett  0-1

              5       6
0          SAVE     ATT
1   Ottavino  3  29,546
2     Davis  28  43,340
3                32,985
4                40,859
..          ...     ...
61               25,774
62               31,149
63               28,055
64    Hirano  3  28,024
65               31,243

[66 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['vs Colorado', 'L11-10', '53-45', 'Oberg  5-0', 'Bradley  2-2', 'Ottavino  3', '29,546'] ['vs Colorado', 'L6-5', '53-46', 'Oberg  6-0', 'Hirano  2-2', 'Davis  28', '43,340']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                         0          1      2              3               4  \
0                 Opponent     Result    W-L            WIN            LOSS
1              vs Colorado       W8-2    1-0    Corbin  1-0       Gray  0-1
2              vs Colorado       W9-8    2-0       Ray  1-0  Senzatela  0-1
3              vs Colorado       L2-1    2-1      Shaw  1-0      Salas  0-1
4   vs Los Angeles Dodgers  W8-7 F/15    3-1     Salas  1-1       Font  0-1
..                     ...        ...    ...            ...             ...
93              @ Colorado      L19-2  51-42   Marquez  8-8     Miller  0-4
94              @ Colorado       L5-1  51-43     Oberg  3-0        Ray  3-2
95               @ Atlanta       W2-1  52-43   Godley  11-6    Freeman  2-5
96               @ Atlanta       W3-0  53-43  Greinke  10-5    Newcomb  8-5
97               @ Atlanta       L5-1  53-44   Teheran  7-6     Corbin  6-4

                5       6
0            SAVE     ATT
1                  48,703
2    Boxberger  1  23,937
3        Davis  1  33,346
4                  21,735
..            ...     ...
93                 33,919
94                 41,410
95  Boxberger  23  42,130
96  Boxberger  24  40,862
97                 27,323

[98 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['vs Colorado', 'W8-2', '1-0', 'Corbin  1-0', 'Gray  0-1', '', '48,703'] ['vs Colorado', 'W9-8', '2-0', 'Ray  1-0', 'Senzatela  0-1', 'Boxberger  1', '23,937']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                 0       1      2                 3                4  \
0         Opponent  Result    W-L               WIN             LOSS
1   @ Chicago Cubs    L9-6  48-47     Duensing  3-0    Martinez  6-6
2   @ Chicago Cubs   W18-5  49-47     Flaherty  4-4     Lester  12-3
3   @ Chicago Cubs    L7-2  49-48     Chatwood  4-5      Weaver  5-9
4   @ Chicago Cubs    W6-3  50-48   Tuivailala  2-3      Wilson  3-3
..             ...     ...    ...               ...              ...
64    vs Milwaukee   L12-4  87-71     Williams  1-3      Gomber  6-2
65    vs Milwaukee    L2-1  87-72      Chacin  15-8      Shreve  1-2
66  @ Chicago Cubs    L8-4  87-73  Hendricks  14-11  Wainwright  2-4
67  @ Chicago Cubs    W2-1  88-73     Mikolas  18-4      Hamels  4-3
68  @ Chicago Cubs   L10-5  88-74      Webster  1-0    Flaherty  8-9

               5       6
0           SAVE     ATT
1       Strop  3  41,406
2                 41,077
3                 41,004
4     Norris  18  41,244
..           ...     ...
64                38,051
65  Jeffress  13  40,644
66                39,442
67   Martinez  5  40,784
68                39,275

[69 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Chicago Cubs', 'L9-6', '48-47', 'Duensing  3-0', 'Martinez  6-6', 'Strop  3', '41,406'] ['@ Chicago Cubs', 'W18-5', '49-47', 'Flaherty  4-4', 'Lester  12-3', '', '41,077']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                      0       1      2                 3                4  \
0              Opponent  Result    W-L               WIN             LOSS
1       @ New York Mets    L9-4    0-1  Syndergaard  1-0    Martinez  0-1
2       @ New York Mets    L6-2    0-2       deGrom  1-0       Wacha  0-1
3       @ New York Mets    W5-1    1-2       Weaver  1-0        Matz  0-1
4           @ Milwaukee    W8-4    2-2      Mikolas  1-0      Davies  0-1
..                  ...     ...    ...               ...              ...
92  @ Chicago White Sox   W14-2  47-43     Mikolas  10-3       Covey  3-5
93  @ Chicago White Sox    L4-0  47-44        Rodon  2-3      Weaver  5-8
94        vs Cincinnati    L9-1  47-45       Harvey  5-5    Martinez  6-5
95        vs Cincinnati    L8-2  47-46        Brice  2-2       Hicks  3-2
96        vs Cincinnati    W6-4  48-46         Gant  3-3  DeSclafani  4-2

             5       6
0         SAVE     ATT
1               44,189
2   Familia  1  36,098
3               22,486
4               45,393
..         ...     ...
92              23,245
93   Soria  13  26,319
94              45,891
95              44,668
96    Hicks  2  45,808

[97 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ New York Mets', 'L9-4', '0-1', 'Syndergaard  1-0', 'Martinez  0-1', '', '44,189'] ['@ New York Mets', 'L6-2', '0-2', 'deGrom  1-0', 'Wacha  0-1', 'Familia  1', '36,098']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                 0          1      2              3                4  \
0         Opponent     Result    W-L            WIN             LOSS
1     @ Cincinnati      W12-1  49-49   Taillon  7-7       Mahle  7-8
2     @ Cincinnati       W6-2  50-49   Kingham  5-4  DeSclafani  4-3
3     @ Cincinnati       W9-2  51-49      Nova  6-6      Harvey  5-6
4      @ Cleveland   W7-0 F/6  52-49  Williams  8-7     Kluber  12-6
..             ...        ...    ...            ...              ...
61  @ Chicago Cubs  L7-6 F/10  80-77  Kintzler  3-3   Rodriguez  4-3
62  @ Chicago Cubs       L3-0  80-78   Lester  18-6  Williams  14-10
63    @ Cincinnati       W8-4  81-78    Brault  6-3  DeSclafani  7-8
64    @ Cincinnati       L3-0  81-79  Lorenzen  4-2   Taillon  14-10
65    @ Cincinnati  W6-5 F/10  82-79     Feliz  1-2    Stephens  2-3

               5       6
0           SAVE     ATT
1                 20,726
2                 23,244
3                 23,615
4                 24,925
..           ...     ...
61                32,874
62     Chavez  4  38,415
63                19,689
64  Iglesias  30  42,630
65   Vazquez  37  25,091

[66 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Cincinnati', 'W12-1', '49-49', 'Taillon  7-7', 'Mahle  7-8', '', '20,726'] ['@ Cincinnati', 'W6-2', '50-49', 'Kingham  5-4', 'DeSclafani  4-3', '', '23,244']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                0            1      2               3              4  \
0        Opponent       Result    W-L             WIN           LOSS
1       @ Detroit    Postponed   None            None           None
2       @ Detroit  W13-10 F/13    1-0     Brault  1-0    Wilson  0-1
3       @ Detroit    Postponed   None            None           None
4       @ Detroit         W1-0    2-0   Williams  1-0    Fulmer  0-1
..            ...          ...    ...             ...            ...
98   vs Milwaukee         W6-3  44-49    Taillon  6-7     Miley  1-1
99   vs Milwaukee         W7-3  45-49    Kingham  4-4    Guerra  6-6
100  vs Milwaukee         W2-1  46-49  Rodriguez  2-2  Anderson  6-7
101  vs Milwaukee         W6-2  47-49     Holmes  1-1     Suter  8-6
102  vs Milwaukee    W7-6 F/10  48-49   Anderson  1-0  Jennings  3-3

               5       6
0           SAVE     ATT
1           None    None
2                 42,516
3           None    None
4     Vazquez  1  14,858
..           ...     ...
98   Vazquez  21  17,858
99      Crick  2  21,431
100  Vazquez  22       0
101  Vazquez  23  24,474
102               17,583

[103 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Detroit', 'Postponed'] ['@ Detroit', 'W13-10 F/13', '1-0', 'Brault  1-0', 'Wilson  0-1', '', '42,516']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')

                 0          1      2              3                4  \
0         Opponent     Result    W-L            WIN             LOSS
1    vs Pittsburgh      L12-1  43-54   Taillon  7-7       Mahle  7-8
2    vs Pittsburgh       L6-2  43-55   Kingham  5-4  DeSclafani  4-3
3    vs Pittsburgh       L9-2  43-56      Nova  6-6      Harvey  5-6
4     vs St. Louis       W2-1  44-56    Hughes  3-3      Norris  3-3
..             ...        ...    ...            ...              ...
63  vs Kansas City       L4-3  66-92  McCarthy  5-4    Iglesias  2-5
64  vs Kansas City       L6-1  66-93  Fillmyer  4-2        Reed  1-3
65   vs Pittsburgh       L8-4  66-94    Brault  6-3  DeSclafani  7-8
66   vs Pittsburgh       W3-0  67-94  Lorenzen  4-2   Taillon  14-10
67   vs Pittsburgh  L6-5 F/10  67-95     Feliz  1-2    Stephens  2-3

               5       6
0           SAVE     ATT
1                 20,726
2                 23,244
3                 23,615
4                 17,518
..           ...     ...
63   Peralta  14  13,172
64                12,549
65                19,689
66  Iglesias  30  42,630
67   Vazquez  37  25,091

[68 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['vs Pittsburgh', 'L12-1', '43-54', 'Taillon  7-7', 'Mahle  7-8', '', '20,726'] ['vs Pittsburgh', 'L6-2', '43-55', 'Kingham  5-4', 'DeSclafani  4-3', '', '23,244']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                0          1      2               3                4  \
0        Opponent     Result    W-L             WIN             LOSS
1   vs Washington  Postponed   None            None             None
2   vs Washington       L2-0    0-1   Scherzer  1-0      Bailey  0-1
3   vs Washington      L13-7    0-2  Strasburg  1-0    Castillo  0-1
4   vs Washington       L6-5    0-3   Gonzalez  1-0      Romano  0-1
..            ...        ...    ...             ...              ...
94    @ Cleveland       W7-4  41-51   Crockett  1-0       Allen  2-4
95    @ Cleveland      L19-4  41-52  Carrasco  10-5       Mahle  7-7
96    @ St. Louis       W9-1  42-52     Harvey  5-5    Martinez  6-5
97    @ St. Louis       W8-2  43-52      Brice  2-2       Hicks  3-2
98    @ St. Louis       L6-4  43-53       Gant  3-3  DeSclafani  4-2

               5       6
0           SAVE     ATT
1           None    None
2   Doolittle  1  43,878
3                 27,341
4   Doolittle  2  10,355
..           ...     ...
94  Iglesias  19  21,908
95     Plutko  1  22,215
96                45,891
97                44,668
98      Hicks  2  45,808

[99 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['vs Washington', 'Postponed'] ['vs Washington', 'L2-0', '0-1', 'Scherzer  1-0', 'Bailey  0-1', 'Doolittle  1', '43,878']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                0       1      2                 3                4  \
0        Opponent  Result    W-L               WIN             LOSS
1    vs St. Louis    W9-6  56-38     Duensing  3-0    Martinez  6-6
2    vs St. Louis   L18-5  56-39     Flaherty  4-4     Lester  12-3
3    vs St. Louis    W7-2  57-39     Chatwood  4-5      Weaver  5-9
4    vs St. Louis    L6-3  57-40   Tuivailala  2-3      Wilson  3-3
..            ...     ...    ...               ...              ...
68  vs Pittsburgh    W3-0  93-66      Lester  18-6  Williams  14-10
69   vs St. Louis    W8-4  94-66  Hendricks  14-11  Wainwright  2-4
70   vs St. Louis    L2-1  94-67     Mikolas  18-4      Hamels  4-3
71   vs St. Louis   W10-5  95-67      Webster  1-0    Flaherty  8-9
72   vs Milwaukee    L3-1  95-68       Knebel  4-3      Wilson  4-5

              5       6
0          SAVE     ATT
1      Strop  3  41,406
2                41,077
3                41,004
4    Norris  18  41,244
..          ...     ...
68    Chavez  4  38,415
69               39,442
70  Martinez  5  40,784
71               39,275
72    Hader  12  38,450

[73 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['vs St. Louis', 'W9-6', '56-38', 'Duensing  3-0', 'Martinez  6-6', 'Strop  3', '41,406'] ['vs St. Louis', 'L18-5', '56-39', 'Flaherty  4-4', 'Lester  12-3', '', '41,077']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                   0           1      2               3              4  \
0           Opponent      Result    W-L             WIN           LOSS
1            @ Miami        W8-4    1-0     Cishek  1-0     Urena  0-1
2            @ Miami   L2-1 F/17    1-1  Despaigne  1-0    Butler  0-1
3            @ Miami  W10-6 F/10    2-1      Strop  1-0   Ziegler  0-1
4            @ Miami        L6-0    2-2     Peters  1-0  Quintana  0-1
..               ...         ...    ...             ...            ...
96   @ San Francisco        W2-0  52-37   Quintana  8-6   Holland  5-8
97   @ San Francisco   L5-4 F/13  52-38  Rodriguez  4-1   Norwood  0-1
98       @ San Diego   W5-4 F/10  53-38      Strop  4-1    Cimber  3-5
99       @ San Diego       W11-6  54-38  Hendricks  6-8   Perdomo  1-4
100      @ San Diego        W7-4  55-38    Lester  12-2     Lauer  5-6

              5       6
0          SAVE     ATT
1                32,151
2                12,034
3                13,422
4                10,428
..          ...     ...
96    Cishek  3  39,113
97               41,099
98   Morrow  21  38,988
99               38,837
100  Morrow  22  37,672

[101 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Miami', 'W8-4', '1-0', 'Cishek  1-0', 'Urena  0-1', '', '32,151'] ['@ Miami', 'L2-1 F/17', '1-1', 'Despaigne  1-0', 'Butler  0-1', '', '12,034']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                         0       1      2                3               4  \
0                 Opponent  Result    W-L              WIN            LOSS
1   vs Los Angeles Dodgers    L6-4  55-44        Hill  3-4   Williams  0-3
2   vs Los Angeles Dodgers    W4-2  56-44      Burnes  1-0    Kershaw  3-5
3   vs Los Angeles Dodgers   L11-2  56-45        Wood  6-5      Suter  8-7
4            vs Washington    W6-1  57-45      Chacin  9-3   Gonzalez  6-7
..                     ...     ...    ...              ...             ...
61             @ St. Louis    W2-1  92-67     Chacin  15-8     Shreve  1-2
62              vs Detroit    W6-5  93-67       Soria  2-1  Alcantara  1-1
63              vs Detroit    W6-5  94-67       Soria  3-1     Stumpf  1-5
64              vs Detroit   W11-0  95-67  Gonzalez  10-11   Turnbull  0-2
65          @ Chicago Cubs    W3-1  96-67      Knebel  4-3     Wilson  4-5

               5       6
0           SAVE     ATT
1     Jansen  28  36,812
2     Knebel  12  36,242
3    Ferguson  2  38,249
4                 26,073
..           ...     ...
61  Jeffress  13  40,644
62  Jeffress  14  44,770
63  Jeffress  15  45,520
64                41,848
65     Hader  12  38,450

[66 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['vs Los Angeles Dodgers', 'L6-4', '55-44', 'Hill  3-4', 'Williams  0-3', 'Jansen  28', '36,812'] ['vs Los Angeles Dodgers', 'W4-2', '56-44', 'Burnes  1-0', 'Kershaw  3-5', 'Knebel  12', '36,242']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
               0          1      2               3              4  \
0       Opponent     Result    W-L             WIN           LOSS
1    @ San Diego  W2-1 F/12    1-0   Jeffress  1-0    Cimber  0-1
2    @ San Diego       W8-6    2-0      Drake  1-0      Hand  0-1
3    @ San Diego       W7-3    3-0      Suter  1-0   Perdomo  0-1
4   vs St. Louis       L8-4    3-1    Mikolas  1-0    Davies  0-1
..           ...        ...    ...             ...            ...
95  @ Pittsburgh       L6-3  55-39    Taillon  6-7     Miley  1-1
96  @ Pittsburgh       L7-3  55-40    Kingham  4-4    Guerra  6-6
97  @ Pittsburgh       L2-1  55-41  Rodriguez  2-2  Anderson  6-7
98  @ Pittsburgh       L6-2  55-42     Holmes  1-1     Suter  8-6
99  @ Pittsburgh  L7-6 F/10  55-43   Anderson  1-0  Jennings  3-3

              5       6
0          SAVE     ATT
1     Barnes  1  44,649
2     Knebel  1  31,513
3                35,106
4                45,393
..          ...     ...
95  Vazquez  21  17,858
96     Crick  2  21,431
97  Vazquez  22       0
98  Vazquez  23  24,474
99               17,583

[100 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ San Diego', 'W2-1 F/12', '1-0', 'Jeffress  1-0', 'Cimber  0-1', 'Barnes  1', '44,649'] ['@ San Diego', 'W8-6', '2-0', 'Drake  1-0', 'Hand  0-1', 'Knebel  1', '31,513']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')

               0          1      2                   3               4  \
0       Opponent     Result    W-L                 WIN            LOSS
1   vs San Diego      W11-5  54-42          Davis  1-0    Richard  7-9
2   vs San Diego  Postponed   None                None            None
3   vs San Diego      L10-2  54-43           Ross  6-8    Pivetta  6-8
4   vs San Diego       W5-0  55-43      Velasquez  6-8    Perdomo  1-5
..           ...        ...    ...                 ...             ...
65    @ Colorado      L14-0  78-80      Marquez  14-10   Pivetta  7-14
66    @ Colorado       L5-3  78-81          Oberg  8-1  Arrieta  10-11
67    vs Atlanta      L10-2  78-82  Foltynewicz  13-10   Eickhoff  0-1
68    vs Atlanta       W3-0  79-82          Nola  17-6    Venters  4-1
69    vs Atlanta       W3-1  80-82         Hunter  5-4    Gausman  5-3

                5       6
0            SAVE     ATT
1                  30,034
2            None    None
3                  29,392
4                  25,054
..            ...     ...
65                 35,181
66      Davis  42  36,448
67                 24,306
68  Dominguez  15  30,886
69  Dominguez  16  34,202

[70 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['vs San Diego', 'W11-5', '54-42', 'Davis  1-0', 'Richard  7-9', '', '30,034'] ['vs San Diego', 'Postponed']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                  0          1      2               3                4  \
0          Opponent     Result    W-L             WIN             LOSS
1         @ Atlanta       L8-5    0-1   Vizcaino  1-0       Neris  0-1
2         @ Atlanta  W5-4 F/11    1-1  Hutchison  1-0       Carle  0-1
3         @ Atlanta      L15-2    1-2   McCarthy  1-0   Velasquez  0-1
4   @ New York Mets  Postponed   None            None             None
..              ...        ...    ...             ...              ...
94  @ New York Mets  L3-0 F/10  51-40   Gsellman  6-2  Leiter Jr.  0-1
95      @ Baltimore       W5-4  52-40    Pivetta  6-7     Gausman  4-7
96          @ Miami       W2-0  53-40    Arrieta  7-6        Chen  2-7
97          @ Miami       L2-0  53-41   Richards  3-5       Nola  12-3
98          @ Miami      L10-5  53-42  Hernandez  2-5       Ramos  3-1

                 5       6
0             SAVE     ATT
1                   40,208
2                   35,123
3                   37,777
4             None    None
..             ...     ...
94                  22,137
95    Dominguez  9  20,100
96       Neshek  1   8,090
97  Barraclough  9  14,793
98                   8,829

[99 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Atlanta', 'L8-5', '0-1', 'Vizcaino  1-0', 'Neris  0-1', '', '40,208'] ['@ Atlanta', 'W5-4 F/11', '1-1', 'Hutchison  1-0', 'Carle  0-1', '', '35,123']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
              0          1      2                3                 4  \
0      Opponent     Result    W-L              WIN              LOSS
1    vs Atlanta       L8-5  48-49     Sanchez  5-2    Strasburg  6-7
2    vs Atlanta  Postponed   None             None              None
3    vs Atlanta       W6-2  49-49   Scherzer  13-5  Foltynewicz  7-6
4   @ Milwaukee       L6-1  49-50      Chacin  9-3     Gonzalez  6-7
..          ...        ...    ...              ...               ...
67     vs Miami       W9-4  80-78   Scherzer  18-7      Brigham  0-4
68     vs Miami   W9-3 F/8  81-78       Suero  4-1        Chen  6-12
69   @ Colorado       L5-2  81-79   Freeland  17-7         Ross  0-2
70   @ Colorado      W12-2  82-79  Strasburg  10-7        Gray  12-9
71   @ Colorado      L12-0  82-80    Anderson  7-9        Fedde  2-4

             5       6
0         SAVE     ATT
1    Minter  5  41,008
2         None    None
3   Herrera  1  39,063
4               26,073
..         ...     ...
67              26,483
68              28,680
69   Davis  43  48,089
70              47,781
71              47,833

[72 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['vs Atlanta', 'L8-5', '48-49', 'Sanchez  5-2', 'Strasburg  6-7', 'Minter  5', '41,008'] ['vs Atlanta', 'Postponed']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                  0          1      2                 3              4  \
0          Opponent     Result    W-L               WIN           LOSS
1      @ Cincinnati  Postponed   None              None           None
2      @ Cincinnati       W2-0    1-0     Scherzer  1-0    Bailey  0-1
3      @ Cincinnati      W13-7    2-0    Strasburg  1-0  Castillo  0-1
4      @ Cincinnati       W6-5    3-0     Gonzalez  1-0    Romano  0-1
..              ...        ...    ...               ...            ...
95     @ Pittsburgh       L2-0  46-46     Williams  7-7  Gonzalez  6-6
96  @ New York Mets       W5-4  47-46    Scherzer  12-5      Matz  4-7
97  @ New York Mets       L4-2  47-47  Syndergaard  5-1    Roark  3-12
98  @ New York Mets       L7-4  47-48      Wheeler  3-6      Voth  0-1
99  @ New York Mets       W6-1  48-48   Hellickson  4-1   Swarzak  0-2

               5       6
0           SAVE     ATT
1           None    None
2   Doolittle  1  43,878
3                 27,341
4   Doolittle  2  10,355
..           ...     ...
95   Vazquez  20  21,083
96     Madson  4  28,120
97   Gsellman  4  26,558
98   Familia  17  30,438
99                26,572

[100 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Cincinnati', 'Postponed'] ['@ Cincinnati', 'W2-0', '1-0', 'Scherzer  1-0', 'Bailey  0-1', 'Doolittle  1', '43,878']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                       0          1       2                3  \
0               Opponent     Result     W-L              WIN
1   @ Los Angeles Angels       W3-1   65-35     Keuchel  8-8
2   @ Los Angeles Angels       W7-0   66-35  Verlander  10-5
3   @ Los Angeles Angels      L14-5   66-36      Heaney  6-6
4             @ Colorado  W8-2 F/10   67-36      Rondon  2-2
..                   ...        ...     ...              ...
60           @ Baltimore  Postponed    None             None
61           @ Baltimore       W2-1  101-58        Sipp  3-1
62           @ Baltimore       W4-3  102-58      Harris  5-3
63           @ Baltimore       W5-2  103-58     Peacock  3-4
64           @ Baltimore       L4-0  103-59         Fry  1-2

                      4           5       6
0                  LOSS        SAVE     ATT
1           Skaggs  7-6   Rondon  9  42,422
2         Tropeano  3-5              44,264
3   McCullers Jr.  10-5              35,298
4            Davis  0-3              43,184
..                  ...         ...     ...
60                 None        None    None
61           Scott  3-3   Osuna  21  18,434
62       Gilmartin  1-1  Rondon  15       0
63         Ramirez  1-8  Pressly  2  26,020
64         Peacock  3-5              24,916

[65 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Los Angeles Angels', 'W3-1', '65-35', 'Keuchel  8-8', 'Skaggs  7-6', 'Rondon  9', '42,422'] ['@ Los Angeles Angels', 'W7-0', '66-35', 'Verlander  10-5', 'Tropeano  3-5', '', '44,264']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
             0       1      2                   3                    4  \
0     Opponent  Result    W-L                 WIN                 LOSS
1      @ Texas    W4-1    1-0      Verlander  1-0          Hamels  0-1
2      @ Texas    L5-1    1-1         Fister  1-0         Keuchel  0-1
3      @ Texas    W9-3    2-1  McCullers Jr.  1-0           Moore  0-1
4      @ Texas    W8-2    3-1           Cole  1-0           Minor  0-1
..         ...     ...    ...                 ...                  ...
95  vs Oakland    L8-3  62-33        Bassitt  2-3  McCullers Jr.  10-4
96  vs Oakland    L6-4  62-34          Petit  3-2        Devenski  2-2
97  vs Detroit    W3-0  63-34        Keuchel  7-8           Fiers  6-6
98  vs Detroit    W9-1  64-34          Cole  10-2          Fulmer  3-9
99  vs Detroit    L6-3  64-35       VerHagen  1-2       Verlander  9-5

             5       6
0         SAVE     ATT
1               47,253
2               35,469
3               36,892
4               26,758
..         ...     ...
95              41,119
96  Trivino  4  38,900
97   Rondon  8  38,843
98              40,405
99              39,455

[100 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Texas', 'W4-1', '1-0', 'Verlander  1-0', 'Hamels  0-1', '', '47,253'] ['@ Texas', 'L5-1', '1-1', 'Fister  1-0', 'Keuchel  0-1', '', '35,469']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')

                       0       1      2               3                4  \
0               Opponent  Result    W-L             WIN             LOSS
1   vs Chicago White Sox    W3-1  59-39    LeBlanc  6-1    Shields  4-11
2   vs Chicago White Sox    L5-0  59-40      Covey  4-5   Hernandez  8-8
3   vs Chicago White Sox    W8-2  60-40  Gonzales  11-5       Lopez  4-8
4       vs San Francisco    L4-3  60-41     Watson  3-3        Diaz  0-3
..                   ...     ...    ...             ...              ...
61            vs Oakland    L9-3  86-72    Buchter  6-0  Hernandez  8-14
62              vs Texas    L2-0  86-73     Jurado  5-5        Duke  5-5
63              vs Texas   W12-6  87-73    LeBlanc  9-5       Perez  2-7
64              vs Texas    W4-1  88-73    Vincent  4-4     Sampson  0-3
65              vs Texas    W3-1  89-73      Elias  3-1    Gallardo  8-8

               5       6
0           SAVE     ATT
1       Diaz  37  43,331
2                 38,186
3                 38,207
4       Smith  4  40,276
..           ...     ...
61                13,727
62   Leclerc  12  15,799
63                23,598
64      Diaz  57  31,780
65  Armstrong  1  21,146

[66 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['vs Chicago White Sox', 'W3-1', '59-39', 'LeBlanc  6-1', 'Shields  4-11', 'Diaz  37', '43,331'] ['vs Chicago White Sox', 'L5-0', '59-40', 'Covey  4-5', 'Hernandez  8-8', '', '38,186']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                       0       1      2               3             4  \
0               Opponent  Result    W-L             WIN          LOSS
1           vs Cleveland    W2-1    1-0  Hernandez  1-0   Kluber  0-1
2           vs Cleveland    L6-5    1-1   Carrasco  1-0   Paxton  0-1
3           vs Cleveland    W5-4    2-1      Leake  1-0    Otero  0-1
4        @ San Francisco    W6-4    3-1   Gonzales  1-0    Blach  1-1
..                   ...     ...    ...             ...           ...
95  @ Los Angeles Angels    W3-0  58-35  Gonzales  10-5   Barria  5-6
96  @ Los Angeles Angels   L11-2  58-36     Skaggs  7-5   Paxton  8-4
97            @ Colorado   L10-7  58-37   Musgrave  1-3  Bergman  0-1
98            @ Colorado    L4-1  58-38       Gray  8-7  LeBlanc  5-1
99            @ Colorado    L4-3  58-39      Oberg  4-0  Vincent  3-2

            5       6
0        SAVE     ATT
1     Diaz  1  47,149
2    Allen  1  35,881
3     Diaz  2  24,506
4     Diaz  3  40,901
..        ...     ...
95   Diaz  36  35,591
96             44,027
97  Davis  26  38,126
98  Davis  27  47,789
99             35,630

[100 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['vs Cleveland', 'W2-1', '1-0', 'Hernandez  1-0', 'Kluber  0-1', 'Diaz  1', '47,149'] ['vs Cleveland', 'L6-5', '1-1', 'Carrasco  1-0', 'Paxton  0-1', 'Allen  1', '35,881']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                       0       1      2                3                    4  \
0               Opponent  Result    W-L              WIN                 LOSS
1             vs Houston    L3-1  49-49     Keuchel  8-8          Skaggs  7-6
2             vs Houston    L7-0  49-50  Verlander  10-5        Tropeano  3-5
3             vs Houston   W14-5  50-50      Heaney  6-6  McCullers Jr.  10-5
4   vs Chicago White Sox    L5-3  50-51     Giolito  7-8          Barria  5-7
..                   ...     ...    ...              ...                  ...
61              vs Texas    W4-1  77-81     Ramirez  7-5        Gallardo  8-7
62              vs Texas    W3-2  78-81     Alvarez  6-4          Martin  1-5
63            vs Oakland    W8-5  79-81        Cole  4-2          Fiers  12-8
64            vs Oakland    L5-2  79-82      Cahill  7-4         Skaggs  8-10
65            vs Oakland    W5-4  80-82    Bridwell  1-0         Hatcher  3-3

              5       6
0          SAVE     ATT
1     Rondon  9  42,422
2                44,264
3                35,298
4     Soria  15  35,285
..          ...     ...
61    Robles  1  36,308
62   Johnson  2  35,991
63    Robles  2  35,041
64  Treinen  38  43,762
65               36,892

[66 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['vs Houston', 'L3-1', '49-49', 'Keuchel  8-8', 'Skaggs  7-6', 'Rondon  9', '42,422'] ['vs Houston', 'L7-0', '49-50', 'Verlander  10-5', 'Tropeano  3-5', '', '44,264']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                        0          1      2               3               4  \
0                Opponent     Result    W-L             WIN            LOSS
1               @ Oakland  L6-5 F/11    0-1    Hatcher  1-0    Ramirez  0-1
2               @ Oakland       W2-1    1-1     Skaggs  1-0     Manaea  0-1
3               @ Oakland       W8-3    2-1  Shoemaker  1-0    Mengden  0-1
4               @ Oakland       W7-4    3-1     Ohtani  1-0    Gossett  0-1
..                    ...        ...    ...             ...             ...
94             vs Seattle       L3-0  47-46  Gonzales  10-5     Barria  5-6
95             vs Seattle      W11-2  48-46     Skaggs  7-5     Paxton  8-4
96  @ Los Angeles Dodgers       L3-2  48-47   Ferguson  2-1  Bedrosian  3-2
97  @ Los Angeles Dodgers  W5-4 F/10  49-47    Alvarez  4-3     Jansen  0-3
98  @ Los Angeles Dodgers       L5-3  49-48      Maeda  7-5       Cole  0-2

               5       6
0           SAVE     ATT
1                 27,764
2      Parker  1  27,665
3                 17,012
4   Middleton  1  14,644
..           ...     ...
94      Diaz  36  35,591
95                44,027
96  Alexander  1  53,368
97                53,797
98    Jansen  27  47,871

[99 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Oakland', 'L6-5 F/11', '0-1', 'Hatcher  1-0', 'Ramirez  0-1', '', '27,764'] ['@ Oakland', 'W2-1', '1-1', 'Skaggs  1-0', 'Manaea  0-1', 'Parker  1', '27,665']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                      0          1      2                3               4  \
0              Opponent     Result    W-L              WIN            LOSS
1               @ Texas  W9-8 F/11  53-43  McAllister  1-2      Moore  1-6
2               @ Texas      W16-3  54-43   Carrasco  12-5      Colon  5-8
3               @ Texas       L5-0  54-44    Gallardo  4-1  Clevinger  7-6
4         vs Pittsburgh   L7-0 F/6  54-45    Williams  8-7    Kluber  12-6
..                  ...        ...    ...              ...             ...
63  @ Chicago White Sox      W10-2  89-69     Bieber  11-5        Fry  2-3
64        @ Kansas City  L2-1 F/10  89-70     Hammel  4-14    Ramirez  0-3
65        @ Kansas City      W14-6  90-70  Clevinger  13-8    Kennedy  3-9
66        @ Kansas City       L9-4  90-71      Junis  9-12     Miller  2-4
67        @ Kansas City       W2-1  91-71  Carrasco  17-10   Skoglund  1-6

           5       6
0       SAVE     ATT
1   Otero  1  28,253
2             31,532
3             21,829
4             24,925
..       ...     ...
63            25,598
64            19,262
65            15,920
66            23,324
67  Bauer  1  19,690

[68 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Texas', 'W9-8 F/11', '53-43', 'McAllister  1-2', 'Moore  1-6', 'Otero  1', '28,253'] ['@ Texas', 'W16-3', '54-43', 'Carrasco  12-5', 'Colon  5-8', '', '31,532']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                       0       1      2               3               4  \
0               Opponent  Result    W-L             WIN            LOSS
1              @ Seattle    L2-1    0-1  Hernandez  1-0     Kluber  0-1
2              @ Seattle    W6-5    1-1   Carrasco  1-0     Paxton  0-1
3              @ Seattle    L5-4    1-2      Leake  1-0      Otero  0-1
4   @ Los Angeles Angels    W6-0    2-2  Clevinger  1-0    Ramirez  0-1
..                   ...     ...    ...             ...             ...
93         vs Cincinnati   W19-4  50-41  Carrasco  10-5      Mahle  7-7
94   vs New York Yankees    L7-4  50-42  Robertson  6-3    Kluber  12-5
95   vs New York Yankees    W6-5  51-42     Bieber  5-1     German  2-5
96   vs New York Yankees    L5-4  51-43  Robertson  7-3  Clevinger  7-5
97   vs New York Yankees    W5-2  52-43  Carrasco  11-5      Green  5-2

              5       6
0          SAVE     ATT
1       Diaz  1  47,149
2      Allen  1  35,881
3       Diaz  2  24,506
4                43,904
..          ...     ...
93    Plutko  1  22,215
94  Chapman  25  31,267
95    Allen  19  35,078
96  Chapman  26  35,353
97    Allen  20  32,644

[98 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Seattle', 'L2-1', '0-1', 'Hernandez  1-0', 'Kluber  0-1', 'Diaz  1', '47,149'] ['@ Seattle', 'W6-5', '1-1', 'Carrasco  1-0', 'Paxton  0-1', 'Allen  1', '35,881']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')

                   0          1       2                 3                4  \
0           Opponent     Result     W-L               WIN             LOSS
1   vs New York Mets       L7-5   62-34  Syndergaard  6-1      German  2-6
2   vs New York Mets       W7-6   63-34         Gray  7-7        Matz  4-8
3   vs New York Mets  Postponed    None              None             None
4        @ Tampa Bay       L7-6   63-35     Andriese  3-4   Severino  14-3
..               ...        ...     ...               ...              ...
65       @ Tampa Bay       L8-7   97-61     Chirinos  5-5     Tanaka  12-6
66       @ Tampa Bay      W12-1   98-61     Sabathia  9-7     Schultz  2-2
67          @ Boston      W11-6   99-61        Happ  17-6     Johnson  4-5
68          @ Boston       W8-5  100-61       Lynn  10-10  Rodriguez  12-5
69          @ Boston      L10-2  100-62   Rodriguez  13-5       Cessa  1-4

              5       6
0          SAVE     ATT
1   Gsellman  5  47,175
2     Shreve  1  47,102
3          None    None
4   Alvarado  4  14,670
..          ...     ...
65     Romo  24  11,325
66               12,349
67               36,779
68  Chapman  32  36,375
69               36,201

[70 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['vs New York Mets', 'L7-5', '62-34', 'Syndergaard  6-1', 'German  2-6', 'Gsellman  5', '47,175'] ['vs New York Mets', 'W7-6', '63-34', 'Gray  7-7', 'Matz  4-8', 'Shreve  1', '47,102']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
               0       1      2               3               4            5  \
0       Opponent  Result    W-L             WIN            LOSS         SAVE
1      @ Toronto    W6-1    1-0   Severino  1-0       Happ  0-1
2      @ Toronto    W4-2    2-0     Tanaka  1-0    Sanchez  0-1   Chapman  1
3      @ Toronto    L5-3    2-1     Tepera  1-0   Betances  0-1     Osuna  1
4      @ Toronto    L7-4    2-2   Clippard  1-0  Robertson  0-1        Oh  1
..           ...     ...    ...             ...             ...          ...
98   @ Baltimore    W9-0  60-31       Gray  6-7      Bundy  6-9
99   @ Cleveland    W7-4  61-31  Robertson  6-3    Kluber  12-5  Chapman  25
100  @ Cleveland    L6-5  61-32     Bieber  5-1     German  2-5    Allen  19
101  @ Cleveland    W5-4  62-32  Robertson  7-3  Clevinger  7-5  Chapman  26
102  @ Cleveland    L5-2  62-33  Carrasco  11-5      Green  5-2    Allen  20

          6
0       ATT
1    48,115
2    33,716
3    37,692
4    29,091
..      ...
98   17,808
99   31,267
100  35,078
101  35,353
102  32,644

[103 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Toronto', 'W6-1', '1-0', 'Severino  1-0', 'Happ  0-1', '', '48,115'] ['@ Toronto', 'W4-2', '2-0', 'Tanaka  1-0', 'Sanchez  0-1', 'Chapman  1', '33,716']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
               0          1      2                3               4  \
0       Opponent     Result    W-L              WIN            LOSS
1   vs Baltimore  W8-7 F/10  44-52      Axford  3-1        Fry  0-1
2   vs Baltimore       W4-1  45-52     Stroman  3-7      Cobb  2-13
3   vs Baltimore       W5-4  46-52      Axford  4-1      Scott  1-2
4   vs Minnesota       L8-3  46-53       Mejia  1-0     Santos  0-1
..           ...        ...    ...              ...             ...
63    vs Houston       L4-1  71-87       James  2-0   Gaviglio  3-9
64    vs Houston       W3-1  72-87     Biagini  4-7   Devenski  2-3
65   @ Tampa Bay       W7-6  73-87       Mayza  2-0   Alvarado  1-6
66   @ Tampa Bay       L4-3  73-88    Castillo  4-2    Borucki  4-6
67   @ Tampa Bay       L9-4  73-89  Yarbrough  16-6  Gaviglio  3-10

              5       6
0          SAVE     ATT
1                31,115
2     Tepera  7  35,912
3   Clippard  7  39,021
4                25,405
..          ...     ...
63    Osuna  20  28,440
64    Giles  25  22,828
65    Giles  26  12,061
66     Romo  25  13,221
67    Pruitt  4  13,313

[68 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['vs Baltimore', 'W8-7 F/10', '44-52', 'Axford  3-1', 'Fry  0-1', '', '31,115'] ['vs Baltimore', 'W4-1', '45-52', 'Stroman  3-7', 'Cobb  2-13', 'Tepera  7', '35,912']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                      0          1      2                 3               4  \
0              Opponent     Result    W-L               WIN            LOSS
1   vs New York Yankees       L6-1    0-1     Severino  1-0       Happ  0-1
2   vs New York Yankees       L4-2    0-2       Tanaka  1-0    Sanchez  0-1
3   vs New York Yankees       W5-3    1-2       Tepera  1-0   Betances  0-1
4   vs New York Yankees       W7-4    2-2     Clippard  1-0  Robertson  0-1
..                  ...        ...    ...               ...             ...
94            @ Atlanta       L9-5  42-49  Foltynewicz  7-5   Gaviglio  2-3
95             @ Boston       L6-4  42-50       Price  10-6      Happ  10-6
96             @ Boston      W13-7  43-50     Petricka  1-0  Porcello  11-4
97             @ Boston  L6-2 F/10  43-51      Kimbrel  2-1     Rowley  0-1
98             @ Boston       L5-2  43-52      Workman  2-0    Stroman  2-7

              5       6
0          SAVE     ATT
1                48,115
2    Chapman  1  33,716
3      Osuna  1  37,692
4         Oh  1  29,091
..          ...     ...
94               27,839
95  Kimbrel  29  37,182
96               37,018
97               36,390
98  Kimbrel  30  36,940

[99 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['vs New York Yankees', 'L6-1', '0-1', 'Severino  1-0', 'Happ  0-1', '', '48,115'] ['vs New York Yankees', 'L4-2', '0-2', 'Tanaka  1-0', 'Sanchez  0-1', 'Chapman  1', '33,716']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                      0       1       2                3                4  \
0              Opponent  Result     W-L              WIN             LOSS
1             @ Detroit    W1-0   69-30      Price  11-6        Boyd  4-9
2             @ Detroit    L5-0   69-31       Fiers  7-6     Johnson  1-3
3             @ Detroit    W9-1   70-31       Sale  11-4       Hardy  3-3
4           @ Baltimore    W5-3   71-31   Porcello  12-4     Gausman  4-8
..                  ...     ...     ...              ...              ...
62         vs Baltimore   W19-3  107-51      Price  16-7   Meisinger  2-1
63         vs Baltimore   L10-3  107-52       Scott  3-2      Barnes  6-4
64  vs New York Yankees   L11-6  107-53       Happ  17-6     Johnson  4-5
65  vs New York Yankees    L8-5  107-54      Lynn  10-10  Rodriguez  12-5
66  vs New York Yankees   W10-2  108-54  Rodriguez  13-5       Cessa  1-4

              5       6
0          SAVE     ATT
1   Kimbrel  31  33,817
2                31,682
3                25,012
4   Kimbrel  32  16,885
..          ...     ...
62               33,577
63       Fry  2  34,445
64               36,779
65  Chapman  32  36,375
66               36,201

[67 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Detroit', 'W1-0', '69-30', 'Price  11-6', 'Boyd  4-9', 'Kimbrel  31', '33,817'] ['@ Detroit', 'L5-0', '69-31', 'Fiers  7-6', 'Johnson  1-3', '', '31,682']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
              0          1      2               3               4  \
0      Opponent     Result    W-L             WIN            LOSS
1   @ Tampa Bay       L6-4    0-1     Pruitt  1-0      Smith  0-1
2   @ Tampa Bay       W1-0    1-1      Price  1-0        Roe  0-1
3   @ Tampa Bay       W3-2    2-1   Porcello  1-0  Kittredge  0-1
4   @ Tampa Bay       W2-1    3-1  Velazquez  1-0   Alvarado  0-1
..          ...        ...    ...             ...             ...
95     vs Texas       W4-2  65-29      Sale  10-4      Colon  5-7
96   vs Toronto       W6-4  66-29     Price  10-6      Happ  10-6
97   vs Toronto      L13-7  66-30   Petricka  1-0  Porcello  11-4
98   vs Toronto  W6-2 F/10  67-30    Kimbrel  2-1     Rowley  0-1
99   vs Toronto       W5-2  68-30    Workman  2-0    Stroman  2-7

              5       6
0          SAVE     ATT
1     Colome  1  31,042
2    Kimbrel  1  19,203
3    Kimbrel  2  17,838
4      Kelly  1  14,256
..          ...     ...
95  Kimbrel  28  36,920
96  Kimbrel  29  37,182
97               37,018
98               36,390
99  Kimbrel  30  36,940

[100 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Tampa Bay', 'L6-4', '0-1', 'Pruitt  1-0', 'Smith  0-1', 'Colome  1', '31,042'] ['@ Tampa Bay', 'W1-0', '1-1', 'Price  1-0', 'Roe  0-1', 'Kimbrel  1', '19,203']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')

                      0       1      2                3                 4  \
0              Opponent  Result    W-L              WIN              LOSS
1              vs Miami    L6-5  49-48     Straily  4-4     Castillo  1-1
2              vs Miami    L3-2  49-49       Lopez  2-1    Yarbrough  8-5
3              vs Miami    W6-4  50-49     Kolarek  1-0  Barraclough  0-4
4   vs New York Yankees    W7-6  51-49    Andriese  3-4    Severino  14-3
..                  ...     ...    ...              ...               ...
62  vs New York Yankees    W8-7  88-70    Chirinos  5-5      Tanaka  12-6
63  vs New York Yankees   L12-1  88-71    Sabathia  9-7      Schultz  2-2
64           vs Toronto    L7-6  88-72       Mayza  2-0     Alvarado  1-6
65           vs Toronto    W4-3  89-72    Castillo  4-2      Borucki  4-6
66           vs Toronto    W9-4  90-72  Yarbrough  16-6    Gaviglio  3-10

                  5       6
0              SAVE     ATT
1         Conley  1  13,248
2   Barraclough  10  13,808
3                    11,828
4       Alvarado  4  14,670
..              ...     ...
62         Romo  24  11,325
63                   12,349
64        Giles  26  12,061
65         Romo  25  13,221
66        Pruitt  4  13,313

[67 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['vs Miami', 'L6-5', '49-48', 'Straily  4-4', 'Castillo  1-1', 'Conley  1', '13,248'] ['vs Miami', 'L3-2', '49-49', 'Lopez  2-1', 'Yarbrough  8-5', 'Barraclough  10', '13,808']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
              0           1      2                  3                4  \
0      Opponent      Result    W-L                WIN             LOSS
1     vs Boston        W6-4    1-0        Pruitt  1-0       Smith  0-1
2     vs Boston        L1-0    1-1         Price  1-0         Roe  0-1
3     vs Boston        L3-2    1-2      Porcello  1-0   Kittredge  0-1
4     vs Boston        L2-1    1-3     Velazquez  1-0    Alvarado  0-1
..          ...         ...    ...                ...              ...
94   vs Detroit        W4-2  48-44     Yarbrough  8-4  Zimmermann  4-1
95  @ Minnesota        L5-1  48-45        Gibson  4-6      Snell  12-5
96  @ Minnesota       L11-8  48-46  Hildenberger  2-2     Eovaldi  3-4
97  @ Minnesota       W19-6  49-46       Schultz  1-0        Duke  3-3
98  @ Minnesota  L11-7 F/10  49-47      Busenitz  3-0    Andriese  2-4

             5       6
0         SAVE     ATT
1    Colome  1  31,042
2   Kimbrel  1  19,203
3   Kimbrel  2  17,838
4     Kelly  1  14,256
..         ...     ...
94    Romo  11  13,922
95  Rodney  21  25,281
96              28,756
97              25,094
98              25,561

[99 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['vs Boston', 'W6-4', '1-0', 'Pruitt  1-0', 'Smith  0-1', 'Colome  1', '31,042'] ['vs Boston', 'L1-0', '1-1', 'Price  1-0', 'Roe  0-1', 'Kimbrel  1', '19,203']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
             0          1       2               3               4  \
0     Opponent     Result     W-L             WIN            LOSS
1    @ Toronto  L8-7 F/10   28-70     Axford  3-1        Fry  0-1
2    @ Toronto       L4-1   28-71    Stroman  3-7      Cobb  2-13
3    @ Toronto       L5-4   28-72     Axford  4-1      Scott  1-2
4    vs Boston       L5-3   28-73  Porcello  12-4    Gausman  4-8
..         ...        ...     ...             ...             ...
64  vs Houston  Postponed    None            None            None
65  vs Houston       L2-1  46-113       Sipp  3-1      Scott  3-3
66  vs Houston       L4-3  46-114     Harris  5-3  Gilmartin  1-1
67  vs Houston       L5-2  46-115    Peacock  3-4    Ramirez  1-8
68  vs Houston       W4-0  47-115        Fry  1-2    Peacock  3-5

              5       6
0          SAVE     ATT
1                31,115
2     Tepera  7  35,912
3   Clippard  7  39,021
4   Kimbrel  32  16,885
..          ...     ...
64         None    None
65    Osuna  21  18,434
66   Rondon  15       0
67   Pressly  2  26,020
68               24,916

[69 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['@ Toronto', 'L8-7 F/10', '28-70', 'Axford  3-1', 'Fry  0-1', '', '31,115'] ['@ Toronto', 'L4-1', '28-71', 'Stroman  3-7', 'Cobb  2-13', 'Tepera  7', '35,912']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
                       0          1      2             3             4  \
0               Opponent     Result    W-L           WIN          LOSS
1           vs Minnesota  W3-2 F/11    1-0   Bleier  1-0   Rodney  0-1
2           vs Minnesota       L6-2    1-1   Gibson  1-0  Cashner  0-1
3           vs Minnesota       L7-0    1-2  Berrios  1-0  Gausman  0-1
4              @ Houston       L6-1    1-3   Morton  1-0  Tillman  0-1
..                   ...        ...    ...           ...           ...
98   vs New York Yankees       L9-0  26-67     Gray  6-7    Bundy  6-9
99       vs Philadelphia       L5-4  26-68  Pivetta  6-7  Gausman  4-7
100             vs Texas       L5-4  26-69   Hamels  5-8    Cobb  2-12
101             vs Texas       W1-0  27-69    Brach  1-2    Perez  2-4
102             vs Texas       W6-5  28-69    Scott  1-1    Minor  6-6

                5       6
0            SAVE     ATT
1                  45,469
2                  17,763
3                  17,212
4                  42,675
..            ...     ...
98                 17,808
99   Dominguez  9  20,100
100      Kela  23  17,348
101    Britton  3  38,328
102    Britton  4  18,754

[103 rows x 7 columns]
['Opponent', 'Result', 'W-L', 'WIN', 'LOSS', 'SAVE', 'ATT'] ['vs Minnesota', 'W3-2 F/11', '1-0', 'Bleier  1-0', 'Rodney  0-1', '', '45,469'] ['vs Minnesota', 'L6-2', '1-1', 'Gibson  1-0', 'Cashner  0-1', '', '17,763']
Index(['Opponent', 'Result', 'W-L', 'WIN', 'LOSS'], dtype='object')
10  teams are on processing...

ValueError: Length mismatch: Expected axis has 7 elements, new values have 2 elements

In [5]:
# make your own 

year = 2018 

teamd = {}
teaml = ['lad','col','sf','ari','sd','stl','pit','cin','chc','mil','phi','nym','wsh','mia','atl','hou','tex','oak','sea','laa','min','kc','cle','chw','det','nyy', 'tor','bos','tb','bal'] 

for t in teaml:
  teamd[t] = {'Home' :{}, 'Away':{}}

teamd = gamestadium(year, teaml, teamd)

AttributeError: 'DataFrame' object has no attribute 'Opponent'

In [29]:
pf = oldBP(2018,teamd,True)

pf

KeyError: 0

In [28]:
teamd

{'lad': {'Home': {'Milwaukee GP': 4,
   'Milwaukee SR': 29,
   'Milwaukee AR': 15,
   'Houston GP': 3,
   'Houston SR': 4,
   'Houston AR': 18,
   'San Francisco GP': 10,
   'San Francisco SR': 28,
   'San Francisco AR': 19,
   'St. Louis GP': 3,
   'St. Louis SR': 6,
   'St. Louis AR': 13,
   'San Diego GP': 9,
   'San Diego SR': 62,
   'San Diego AR': 24,
   'Arizona GP': 9,
   'Arizona SR': 36,
   'Arizona AR': 39,
   'New York Mets GP': 3,
   'New York Mets SR': 16,
   'New York Mets AR': 15,
   'Colorado GP': 10,
   'Colorado SR': 38,
   'Colorado AR': 23,
   'Oakland GP': 2,
   'Oakland SR': 10,
   'Oakland AR': 16,
   'Washington GP': 3,
   'Washington SR': 10,
   'Washington AR': 8,
   'Miami GP': 3,
   'Miami SR': 10,
   'Miami AR': 12,
   'Cincinnati GP': 4,
   'Cincinnati SR': 9,
   'Cincinnati AR': 20,
   'Philadelphia GP': 4,
   'Philadelphia SR': 15,
   'Philadelphia AR': 14,
   'Atlanta GP': 3,
   'Atlanta SR': 17,
   'Atlanta AR': 10,
   'Texas GP': 2,
   'Texas SR': 15,
   'Texas AR': 7,
   'Chicago Cubs GP': 4,
   'Chicago Cubs SR': 18,
   'Chicago Cubs AR': 26,
   'Pittsburgh GP': 3,
   'Pittsburgh SR': 31,
   'Pittsburgh AR': 8,
   'Los Angeles Angels GP': 3,
   'Los Angeles Angels SR': 12,
   'Los Angeles Angels AR': 10},
  'Away': {'Milwaukee GP': 3,
   'Milwaukee SR': 19,
   'Milwaukee AR': 10,
   'Philadelphia GP': 3,
   'Philadelphia SR': 14,
   'Philadelphia AR': 20,
   'Atlanta GP': 4,
   'Atlanta SR': 18,
   'Atlanta AR': 8,
   'Oakland GP': 2,
   'Oakland SR': 6,
   'Oakland AR': 5,
   'Colorado GP': 10,
   'Colorado SR': 65,
   'Colorado AR': 48,
   'Seattle GP': 3,
   'Seattle SR': 27,
   'Seattle AR': 7,
   'Texas GP': 2,
   'Texas SR': 11,
   'Texas AR': 5,
   'Cincinnati GP': 3,
   'Cincinnati SR': 15,
   'Cincinnati AR': 14,
   'St. Louis GP': 4,
   'St. Louis SR': 29,
   'St. Louis AR': 16,
   'Arizona GP': 10,
   'Arizona SR': 35,
   'Arizona AR': 47,
   'San Francisco GP': 9,
   'San Francisco SR': 59,
   'San Francisco AR': 39,
   'San Diego GP': 10,
   'San Diego SR': 54,
   'San Diego AR': 30,
   'Miami GP': 3,
   'Miami SR': 14,
   'Miami AR': 10,
   'Washington GP': 3,
   'Washington SR': 16,
   'Washington AR': 7,
   'Pittsburgh GP': 3,
   'Pittsburgh SR': 22,
   'Pittsburgh AR': 18,
   'Chicago Cubs GP': 3,
   'Chicago Cubs SR': 5,
   'Chicago Cubs AR': 9,
   'New York Mets GP': 3,
   'New York Mets SR': 21,
   'New York Mets AR': 12,
   'Los Angeles Angels GP': 3,
   'Los Angeles Angels SR': 8,
   'Los Angeles Angels AR': 8}},
 'col': {'Home': {}, 'Away': {}},
 'sf': {'Home': {'Milwaukee GP': 4,
   'Milwaukee SR': 15,
   'Milwaukee AR': 22,
   'Houston GP': 2,
   'Houston SR': 2,
   'Houston AR': 5,
   'Pittsburgh GP': 4,
   'Pittsburgh SR': 22,
   'Pittsburgh AR': 27,
   'Texas GP': 3,
   'Texas SR': 14,
   'Texas AR': 11,
   'Arizona GP': 9,
   'Arizona SR': 30,
   'Arizona AR': 26,
   'New York Mets GP': 3,
   'New York Mets SR': 9,
   'New York Mets AR': 6,
   'Atlanta GP': 3,
   'Atlanta SR': 3,
   'Atlanta AR': 10,
   'Colorado GP': 10,
   'Colorado SR': 41,
   'Colorado AR': 34,
   'San Diego GP': 10,
   'San Diego SR': 37,
   'San Diego AR': 35,
   'Los Angeles Dodgers GP': 9,
   'Los Angeles Dodgers SR': 39,
   'Los Angeles Dodgers AR': 59,
   'Seattle GP': 2,
   'Seattle SR': 14,
   'Seattle AR': 7,
   'Washington GP': 3,
   'Washington SR': 10,
   'Washington AR': 20,
   'Cincinnati GP': 3,
   'Cincinnati SR': 18,
   'Cincinnati AR': 16,
   'Philadelphia GP': 3,
   'Philadelphia SR': 12,
   'Philadelphia AR': 1,
   'Miami GP': 3,
   'Miami SR': 16,
   'Miami AR': 13,
   'St. Louis GP': 4,
   'St. Louis SR': 20,
   'St. Louis AR': 24,
   'Chicago Cubs GP': 3,
   'Chicago Cubs SR': 7,
   'Chicago Cubs AR': 7,
   'Oakland GP': 3,
   'Oakland SR': 12,
   'Oakland AR': 11},
  'Away': {'Oakland GP': 3,
   'Oakland SR': 13,
   'Oakland AR': 11,
   'Seattle GP': 2,
   'Seattle SR': 6,
   'Seattle AR': 6,
   'San Diego GP': 9,
   'San Diego SR': 34,
   'San Diego AR': 39,
   'Arizona GP': 10,
   'Arizona SR': 40,
   'Arizona AR': 32,
   'Los Angeles Dodgers GP': 10,
   'Los Angeles Dodgers SR': 19,
   'Los Angeles Dodgers AR': 28,
   'Cincinnati GP': 3,
   'Cincinnati SR': 6,
   'Cincinnati AR': 20,
   'New York Mets GP': 4,
   'New York Mets SR': 11,
   'New York Mets AR': 13,
   'Colorado GP': 9,
   'Colorado SR': 32,
   'Colorado AR': 55,
   'Milwaukee GP': 3,
   'Milwaukee SR': 8,
   'Milwaukee AR': 14,
   'St. Louis GP': 3,
   'St. Louis SR': 9,
   'St. Louis AR': 19,
   'Los Angeles Angels GP': 3,
   'Los Angeles Angels SR': 15,
   'Los Angeles Angels AR': 7,
   'Atlanta GP': 3,
   'Atlanta SR': 24,
   'Atlanta AR': 9,
   'Philadelphia GP': 4,
   'Philadelphia SR': 8,
   'Philadelphia AR': 32,
   'Pittsburgh GP': 3,
   'Pittsburgh SR': 12,
   'Pittsburgh AR': 17,
   'Houston GP': 2,
   'Houston SR': 3,
   'Houston AR': 15,
   'Chicago Cubs GP': 3,
   'Chicago Cubs SR': 10,
   'Chicago Cubs AR': 18,
   'Washington GP': 3,
   'Washington SR': 16,
   'Washington AR': 12,
   'Miami GP': 4,
   'Miami SR': 16,
   'Miami AR': 18}},
 'ari': {'Home': {}, 'Away': {}},
 'sd': {'Home': {}, 'Away': {}},
 'stl': {'Home': {}, 'Away': {}},
 'pit': {'Home': {}, 'Away': {}},
 'cin': {'Home': {'Pittsburgh GP': 9,
   'Pittsburgh SR': 33,
   'Pittsburgh AR': 52,
   'St. Louis GP': 10,
   'St. Louis SR': 37,
   'St. Louis AR': 51,
   'Philadelphia GP': 4,
   'Philadelphia SR': 20,
   'Philadelphia AR': 15,
   'Arizona GP': 3,
   'Arizona SR': 11,
   'Arizona AR': 12,
   'Cleveland GP': 3,
   'Cleveland SR': 7,
   'Cleveland AR': 22,
   'San Francisco GP': 3,
   'San Francisco SR': 20,
   'San Francisco AR': 6,
   'Milwaukee GP': 10,
   'Milwaukee SR': 60,
   'Milwaukee AR': 57,
   'San Diego GP': 4,
   'San Diego SR': 27,
   'San Diego AR': 21,
   'Los Angeles Dodgers GP': 3,
   'Los Angeles Dodgers SR': 14,
   'Los Angeles Dodgers AR': 15,
   'Kansas City GP': 2,
   'Kansas City SR': 4,
   'Kansas City AR': 10,
   'Washington GP': 3,
   'Washington SR': 12,
   'Washington AR': 21,
   'Chicago Cubs GP': 9,
   'Chicago Cubs SR': 39,
   'Chicago Cubs AR': 41,
   'Atlanta GP': 4,
   'Atlanta SR': 27,
   'Atlanta AR': 23,
   'Miami GP': 3,
   'Miami SR': 9,
   'Miami AR': 15,
   'New York Mets GP': 3,
   'New York Mets SR': 15,
   'New York Mets AR': 10,
   'Colorado GP': 3,
   'Colorado SR': 16,
   'Colorado AR': 20,
   'Detroit GP': 2,
   'Detroit SR': 14,
   'Detroit AR': 8,
   'Chicago White Sox GP': 3,
   'Chicago White Sox SR': 20,
   'Chicago White Sox AR': 19},
  'Away': {'Detroit GP': 2,
   'Detroit SR': 5,
   'Detroit AR': 9,
   'Washington GP': 4,
   'Washington SR': 14,
   'Washington AR': 19,
   'New York Mets GP': 3,
   'New York Mets SR': 10,
   'New York Mets AR': 15,
   'Milwaukee GP': 9,
   'Milwaukee SR': 24,
   'Milwaukee AR': 40,
   'Chicago Cubs GP': 10,
   'Chicago Cubs SR': 28,
   'Chicago Cubs AR': 50,
   'St. Louis GP': 9,
   'St. Louis SR': 43,
   'St. Louis AR': 42,
   'Pittsburgh GP': 10,
   'Pittsburgh SR': 30,
   'Pittsburgh AR': 58,
   'Miami GP': 4,
   'Miami SR': 5,
   'Miami AR': 14,
   'Philadelphia GP': 3,
   'Philadelphia SR': 9,
   'Philadelphia AR': 16,
   'Minnesota GP': 3,
   'Minnesota SR': 24,
   'Minnesota AR': 14,
   'Los Angeles Dodgers GP': 4,
   'Los Angeles Dodgers SR': 20,
   'Los Angeles Dodgers AR': 9,
   'San Francisco GP': 3,
   'San Francisco SR': 16,
   'San Francisco AR': 18,
   'Colorado GP': 3,
   'Colorado SR': 12,
   'Colorado AR': 18,
   'Arizona GP': 3,
   'Arizona SR': 14,
   'Arizona AR': 21,
   'San Diego GP': 3,
   'San Diego SR': 12,
   'San Diego AR': 16,
   'Kansas City GP': 2,
   'Kansas City SR': 12,
   'Kansas City AR': 1,
   'Atlanta GP': 3,
   'Atlanta SR': 15,
   'Atlanta AR': 13,
   'Cleveland GP': 3,
   'Cleveland SR': 18,
   'Cleveland AR': 28}},
 'chc': {'Home': {'St. Louis GP': 10,
   'St. Louis SR': 61,
   'St. Louis AR': 55,
   'Arizona GP': 4,
   'Arizona SR': 11,
   'Arizona AR': 19,
   'San Diego GP': 4,
   'San Diego SR': 17,
   'San Diego AR': 24,
   'Washington GP': 3,
   'Washington SR': 11,
   'Washington AR': 14,
   'Milwaukee GP': 10,
   'Milwaukee SR': 24,
   'Milwaukee AR': 24,
   'Cincinnati GP': 10,
   'Cincinnati SR': 50,
   'Cincinnati AR': 28,
   'New York Mets GP': 3,
   'New York Mets SR': 12,
   'New York Mets AR': 15,
   'Pittsburgh GP': 10,
   'Pittsburgh SR': 36,
   'Pittsburgh AR': 44,
   'Atlanta GP': 3,
   'Atlanta SR': 19,
   'Atlanta AR': 20,
   'Colorado GP': 3,
   'Colorado SR': 6,
   'Colorado AR': 16,
   'Miami GP': 3,
   'Miami SR': 31,
   'Miami AR': 9,
   'Chicago White Sox GP': 3,
   'Chicago White Sox SR': 22,
   'Chicago White Sox AR': 11,
   'Cleveland GP': 2,
   'Cleveland SR': 1,
   'Cleveland AR': 11,
   'San Francisco GP': 3,
   'San Francisco SR': 18,
   'San Francisco AR': 10,
   'Philadelphia GP': 3,
   'Philadelphia SR': 12,
   'Philadelphia AR': 14,
   'Los Angeles Dodgers GP': 3,
   'Los Angeles Dodgers SR': 9,
   'Los Angeles Dodgers AR': 5,
   'Minnesota GP': 3,
   'Minnesota SR': 35,
   'Minnesota AR': 25,
   'Detroit GP': 2,
   'Detroit SR': 10,
   'Detroit AR': 5},
  'Away': {'St. Louis GP': 9,
   'St. Louis SR': 39,
   'St. Louis AR': 41,
   'Pittsburgh GP': 9,
   'Pittsburgh SR': 33,
   'Pittsburgh AR': 20,
   'Kansas City GP': 3,
   'Kansas City SR': 8,
   'Kansas City AR': 10,
   'Detroit GP': 2,
   'Detroit SR': 9,
   'Detroit AR': 4,
   'Atlanta GP': 3,
   'Atlanta SR': 9,
   'Atlanta AR': 10,
   'Philadelphia GP': 3,
   'Philadelphia SR': 16,
   'Philadelphia AR': 4,
   'Milwaukee GP': 10,
   'Milwaukee SR': 37,
   'Milwaukee AR': 33,
   'Washington GP': 4,
   'Washington SR': 18,
   'Washington AR': 23,
   'Arizona GP': 3,
   'Arizona SR': 14,
   'Arizona AR': 11,
   'Chicago White Sox GP': 3,
   'Chicago White Sox SR': 18,
   'Chicago White Sox AR': 14,
   'Miami GP': 4,
   'Miami SR': 19,
   'Miami AR': 18,
   'Cincinnati GP': 9,
   'Cincinnati SR': 41,
   'Cincinnati AR': 39,
   'Colorado GP': 3,
   'Colorado SR': 27,
   'Colorado AR': 17,
   'Cleveland GP': 2,
   'Cleveland SR': 11,
   'Cleveland AR': 7,
   'New York Mets GP': 4,
   'New York Mets SR': 21,
   'New York Mets AR': 6,
   'Los Angeles Dodgers GP': 4,
   'Los Angeles Dodgers SR': 26,
   'Los Angeles Dodgers AR': 18,
   'San Francisco GP': 3,
   'San Francisco SR': 7,
   'San Francisco AR': 7,
   'San Diego GP': 3,
   'San Diego SR': 23,
   'San Diego AR': 14}},
 'mil': {'Home': {'Los Angeles Dodgers GP': 3,
   'Los Angeles Dodgers SR': 10,
   'Los Angeles Dodgers AR': 19,
   'Washington GP': 3,
   'Washington SR': 14,
   'Washington AR': 12,
   'Colorado GP': 3,
   'Colorado SR': 17,
   'Colorado AR': 12,
   'San Diego GP': 3,
   'San Diego SR': 17,
   'San Diego AR': 23,
   'Cincinnati GP': 9,
   'Cincinnati SR': 40,
   'Cincinnati AR': 24,
   'Pittsburgh GP': 9,
   'Pittsburgh SR': 34,
   'Pittsburgh AR': 47,
   'Chicago Cubs GP': 10,
   'Chicago Cubs SR': 33,
   'Chicago Cubs AR': 37,
   'San Francisco GP': 3,
   'San Francisco SR': 14,
   'San Francisco AR': 8,
   'Detroit GP': 3,
   'Detroit SR': 23,
   'Detroit AR': 10,
   'St. Louis GP': 10,
   'St. Louis SR': 38,
   'St. Louis AR': 44,
   'Miami GP': 4,
   'Miami SR': 30,
   'Miami AR': 10,
   'Cleveland GP': 2,
   'Cleveland SR': 5,
   'Cleveland AR': 8,
   'Arizona GP': 3,
   'Arizona SR': 14,
   'Arizona AR': 4,
   'New York Mets GP': 4,
   'New York Mets SR': 29,
   'New York Mets AR': 21,
   'Philadelphia GP': 3,
   'Philadelphia SR': 23,
   'Philadelphia AR': 16,
   'Kansas City GP': 2,
   'Kansas City SR': 9,
   'Kansas City AR': 6,
   'Minnesota GP': 3,
   'Minnesota SR': 11,
   'Minnesota AR': 7,
   'Atlanta GP': 4,
   'Atlanta SR': 23,
   'Atlanta AR': 14},
  'Away': {'San Francisco GP': 4,
   'San Francisco SR': 22,
   'San Francisco AR': 15,
   'Los Angeles Dodgers GP': 4,
   'Los Angeles Dodgers SR': 15,
   'Los Angeles Dodgers AR': 29,
   'Atlanta GP': 3,
   'Atlanta SR': 12,
   'Atlanta AR': 20,
   'Chicago Cubs GP': 10,
   'Chicago Cubs SR': 24,
   'Chicago Cubs AR': 24,
   'St. Louis GP': 9,
   'St. Louis SR': 37,
   'St. Louis AR': 33,
   'Cincinnati GP': 10,
   'Cincinnati SR': 57,
   'Cincinnati AR': 60,
   'Washington GP': 3,
   'Washington SR': 17,
   'Washington AR': 10,
   'Pittsburgh GP': 10,
   'Pittsburgh SR': 39,
   'Pittsburgh AR': 43,
   'San Diego GP': 3,
   'San Diego SR': 17,
   'San Diego AR': 10,
   'New York Mets GP': 3,
   'New York Mets SR': 12,
   'New York Mets AR': 10,
   'Kansas City GP': 2,
   'Kansas City SR': 11,
   'Kansas City AR': 4,
   'Colorado GP': 4,
   'Colorado SR': 23,
   'Colorado AR': 19,
   'Arizona GP': 3,
   'Arizona SR': 16,
   'Arizona AR': 6,
   'Minnesota GP': 3,
   'Minnesota SR': 14,
   'Minnesota AR': 10,
   'Chicago White Sox GP': 3,
   'Chicago White Sox SR': 9,
   'Chicago White Sox AR': 14,
   'Cleveland GP': 2,
   'Cleveland SR': 3,
   'Cleveland AR': 6,
   'Philadelphia GP': 3,
   'Philadelphia SR': 27,
   'Philadelphia AR': 11,
   'Miami GP': 3,
   'Miami SR': 15,
   'Miami AR': 13}},
 'phi': {'Home': {}, 'Away': {}},
 'nym': {'Home': {}, 'Away': {}},
 'wsh': {'Home': {'Atlanta GP': 9,
   'Atlanta SR': 38,
   'Atlanta AR': 33,
   'New York Mets GP': 9,
   'New York Mets SR': 57,
   'New York Mets AR': 41,
   'Cincinnati GP': 4,
   'Cincinnati SR': 19,
   'Cincinnati AR': 14,
   'Miami GP': 10,
   'Miami SR': 76,
   'Miami AR': 59,
   'Philadelphia GP': 9,
   'Philadelphia SR': 44,
   'Philadelphia AR': 46,
   'Milwaukee GP': 3,
   'Milwaukee SR': 10,
   'Milwaukee AR': 17,
   'St. Louis GP': 3,
   'St. Louis SR': 18,
   'St. Louis AR': 21,
   'Chicago Cubs GP': 4,
   'Chicago Cubs SR': 23,
   'Chicago Cubs AR': 18,
   'Colorado GP': 4,
   'Colorado SR': 13,
   'Colorado AR': 15,
   'Arizona GP': 3,
   'Arizona SR': 10,
   'Arizona AR': 10,
   'Pittsburgh GP': 4,
   'Pittsburgh SR': 27,
   'Pittsburgh AR': 10,
   'New York Yankees GP': 2,
   'New York Yankees SR': 7,
   'New York Yankees AR': 7,
   'Los Angeles Dodgers GP': 3,
   'Los Angeles Dodgers SR': 7,
   'Los Angeles Dodgers AR': 16,
   'San Diego GP': 3,
   'San Diego SR': 13,
   'San Diego AR': 6,
   'Tampa Bay GP': 2,
   'Tampa Bay SR': 15,
   'Tampa Bay AR': 4,
   'San Francisco GP': 3,
   'San Francisco SR': 12,
   'San Francisco AR': 16,
   'Baltimore GP': 3,
   'Baltimore SR': 13,
   'Baltimore AR': 12,
   'Boston GP': 3,
   'Boston SR': 7,
   'Boston AR': 18},
  'Away': {'Milwaukee GP': 3,
   'Milwaukee SR': 12,
   'Milwaukee AR': 14,
   'Miami GP': 9,
   'Miami SR': 47,
   'Miami AR': 29,
   'Chicago Cubs GP': 3,
   'Chicago Cubs SR': 14,
   'Chicago Cubs AR': 11,
   'St. Louis GP': 4,
   'St. Louis SR': 17,
   'St. Louis AR': 21,
   'New York Mets GP': 10,
   'New York Mets SR': 50,
   'New York Mets AR': 41,
   'Philadelphia GP': 10,
   'Philadelphia SR': 56,
   'Philadelphia AR': 41,
   'Atlanta GP': 10,
   'Atlanta SR': 42,
   'Atlanta AR': 51,
   'Colorado GP': 3,
   'Colorado SR': 14,
   'Colorado AR': 19,
   'Cincinnati GP': 3,
   'Cincinnati SR': 21,
   'Cincinnati AR': 12,
   'Los Angeles Dodgers GP': 3,
   'Los Angeles Dodgers SR': 8,
   'Los Angeles Dodgers AR': 10,
   'San Francisco GP': 3,
   'San Francisco SR': 20,
   'San Francisco AR': 10,
   'San Diego GP': 3,
   'San Diego SR': 13,
   'San Diego AR': 7,
   'Arizona GP': 4,
   'Arizona SR': 13,
   'Arizona AR': 7,
   'Baltimore GP': 3,
   'Baltimore SR': 11,
   'Baltimore AR': 2,
   'New York Yankees GP': 2,
   'New York Yankees SR': 5,
   'New York Yankees AR': 7,
   'Toronto GP': 3,
   'Toronto SR': 11,
   'Toronto AR': 16,
   'Tampa Bay GP': 2,
   'Tampa Bay SR': 0,
   'Tampa Bay AR': 12,
   'Pittsburgh GP': 3,
   'Pittsburgh SR': 8,
   'Pittsburgh AR': 9}},
 'mia': {'Home': {}, 'Away': {}},
 'atl': {'Home': {}, 'Away': {}},
 'hou': {'Home': {'Texas GP': 9,
   'Texas SR': 29,
   'Texas AR': 36,
   'Seattle GP': 9,
   'Seattle SR': 29,
   'Seattle AR': 45,
   'Colorado GP': 2,
   'Colorado SR': 13,
   'Colorado AR': 6,
   'Oakland GP': 10,
   'Oakland SR': 52,
   'Oakland AR': 45,
   'Los Angeles Angels GP': 10,
   'Los Angeles Angels SR': 52,
   'Los Angeles Angels AR': 35,
   'Minnesota GP': 3,
   'Minnesota SR': 18,
   'Minnesota AR': 4,
   'Arizona GP': 3,
   'Arizona SR': 17,
   'Arizona AR': 12,
   'Baltimore GP': 3,
   'Baltimore SR': 19,
   'Baltimore AR': 9,
   'San Diego GP': 3,
   'San Diego SR': 6,
   'San Diego AR': 5,
   'New York Yankees GP': 4,
   'New York Yankees SR': 7,
   'New York Yankees AR': 15,
   'Cleveland GP': 3,
   'Cleveland SR': 11,
   'Cleveland AR': 7,
   'San Francisco GP': 2,
   'San Francisco SR': 15,
   'San Francisco AR': 3,
   'Boston GP': 4,
   'Boston SR': 18,
   'Boston AR': 19,
   'Tampa Bay GP': 3,
   'Tampa Bay SR': 11,
   'Tampa Bay AR': 7,
   'Kansas City GP': 3,
   'Kansas City SR': 15,
   'Kansas City AR': 7,
   'Toronto GP': 3,
   'Toronto SR': 17,
   'Toronto AR': 12,
   'Chicago White Sox GP': 4,
   'Chicago White Sox SR': 29,
   'Chicago White Sox AR': 14,
   'Detroit GP': 3,
   'Detroit SR': 15,
   'Detroit AR': 7},
  'Away': {'Los Angeles Angels GP': 9,
   'Los Angeles Angels SR': 43,
   'Los Angeles Angels AR': 27,
   'Colorado GP': 2,
   'Colorado SR': 10,
   'Colorado AR': 5,
   'Seattle GP': 10,
   'Seattle SR': 51,
   'Seattle AR': 29,
   'Los Angeles Dodgers GP': 3,
   'Los Angeles Dodgers SR': 18,
   'Los Angeles Dodgers AR': 4,
   'San Francisco GP': 2,
   'San Francisco SR': 5,
   'San Francisco AR': 2,
   'Oakland GP': 9,
   'Oakland SR': 63,
   'Oakland AR': 31,
   'Boston GP': 3,
   'Boston SR': 16,
   'Boston AR': 12,
   'Detroit GP': 3,
   'Detroit SR': 13,
   'Detroit AR': 10,
   'Toronto GP': 3,
   'Toronto SR': 10,
   'Toronto AR': 7,
   'Baltimore GP': 4,
   'Baltimore SR': 11,
   'Baltimore AR': 10,
   'Texas GP': 10,
   'Texas SR': 56,
   'Texas AR': 33,
   'Minnesota GP': 3,
   'Minnesota SR': 11,
   'Minnesota AR': 13,
   'Chicago White Sox GP': 3,
   'Chicago White Sox SR': 27,
   'Chicago White Sox AR': 2,
   'Arizona GP': 3,
   'Arizona SR': 12,
   'Arizona AR': 7,
   'Cleveland GP': 4,
   'Cleveland SR': 34,
   'Cleveland AR': 22,
   'New York Yankees GP': 3,
   'New York Yankees SR': 13,
   'New York Yankees AR': 12,
   'Kansas City GP': 3,
   'Kansas City SR': 24,
   'Kansas City AR': 9,
   'Tampa Bay GP': 4,
   'Tampa Bay SR': 7,
   'Tampa Bay AR': 11}},
 'tex': {'Home': {}, 'Away': {}},
 'oak': {'Home': {}, 'Away': {}},
 'sea': {'Home': {'Chicago White Sox GP': 3,
   'Chicago White Sox SR': 11,
   'Chicago White Sox AR': 8,
   'San Francisco GP': 2,
   'San Francisco SR': 6,
   'San Francisco AR': 6,
   'Houston GP': 10,
   'Houston SR': 29,
   'Houston AR': 51,
   'Toronto GP': 4,
   'Toronto SR': 12,
   'Toronto AR': 22,
   'Los Angeles Dodgers GP': 3,
   'Los Angeles Dodgers SR': 7,
   'Los Angeles Dodgers AR': 27,
   'Baltimore GP': 3,
   'Baltimore SR': 10,
   'Baltimore AR': 8,
   'New York Yankees GP': 3,
   'New York Yankees SR': 5,
   'New York Yankees AR': 10,
   'San Diego GP': 2,
   'San Diego SR': 5,
   'San Diego AR': 7,
   'Oakland GP': 9,
   'Oakland SR': 46,
   'Oakland AR': 45,
   'Texas GP': 10,
   'Texas SR': 48,
   'Texas AR': 41,
   'Cleveland GP': 3,
   'Cleveland SR': 12,
   'Cleveland AR': 11,
   'Los Angeles Angels GP': 9,
   'Los Angeles Angels SR': 42,
   'Los Angeles Angels AR': 42,
   'Detroit GP': 4,
   'Detroit SR': 17,
   'Detroit AR': 11,
   'Minnesota GP': 3,
   'Minnesota SR': 9,
   'Minnesota AR': 5,
   'Tampa Bay GP': 3,
   'Tampa Bay SR': 9,
   'Tampa Bay AR': 5,
   'Boston GP': 4,
   'Boston SR': 12,
   'Boston AR': 17,
   'Kansas City GP': 3,
   'Kansas City SR': 11,
   'Kansas City AR': 5,
   'Colorado GP': 3,
   'Colorado SR': 8,
   'Colorado AR': 16},
  'Away': {'Los Angeles Angels GP': 10,
   'Los Angeles Angels SR': 46,
   'Los Angeles Angels AR': 51,
   'Texas GP': 9,
   'Texas SR': 51,
   'Texas AR': 55,
   'Houston GP': 9,
   'Houston SR': 45,
   'Houston AR': 29,
   'Oakland GP': 10,
   'Oakland SR': 39,
   'Oakland AR': 39,
   'Arizona GP': 3,
   'Arizona SR': 12,